name: Chocolatey Automatic Updater

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"   # Runs every day at 2am UTC

jobs:
  update:
    runs-on: windows-latest
    env:
      CHOCO_API_KEY: ${{ secrets.CHOCO_API_KEY }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Chocolatey
        shell: powershell
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          [System.Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

      - name: Install AU module
        shell: powershell
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          choco install au -y
      
      - name: Install pwsh
        shell: powershell
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          choco install pwsh -force -y

      - name: Configure API key
        shell: powershell
        run: |
          choco apiKey add -s https://push.chocolatey.org/ `
            -k $env:CHOCO_API_KEY

      # - name: Run vnc-viewer update.ps1
      #   shell: powershell
      #   run: |
      #     Set-ExecutionPolicy Bypass -Scope Process -Force
      #     $env:au_whatif = 'true'
      #     Push-Location ./vnc-viewer
      #     ./update.ps1
      #     Pop-Location
      
      - name: Run filezilla update.ps1
        shell: powershell
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          $env:au_whatif = 'true'
          Push-Location ./filezilla
          ./update.ps1
          Pop-Location

      - name: Push updated package(s)
        shell: powershell
        run: |
          import-module au
          #au push
